.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 100px;
}

.menu {
  display: flex;
  gap: 2rem;

  a {
    color: #fff;
    text-decoration: none;
  }
}
