@import "globals/styles/breakpoints";

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 100px;
}

.menu {
  display: none;
  gap: 2rem;
  
  a {
    color: #fff;
    text-decoration: none;
  }

  @include lg {
    display: flex;
  }
}
