@import "globals/styles/breakpoints";

.grid {
  display: grid;
  gap: 90px;
  grid-template-columns: 1fr;
  text-align: left;

  @include md {
    grid-template-columns: 1fr 1fr;
  }
}

.boxImage {
  display: none;
  position: relative;
  
  img {
    object-fit: cover;
  }

  @include md {
    display: inline;
  }
}