@import 'globals/styles/mixins';

.mainSection {
  align-items: center;
  background: url() no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  text-align: center;

  @include backgroundImage('/assets/background-image.jpg');

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
  }
}
