@import 'globals/variables';

$blue: #007bff;
$darkBlue: #005aba;

.button {
  background-color: $blue;
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 8px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    background-color: $darkBlue;
  }

  &:focus {
    border: 2px solid blue;
  }

  &.loading {
    color: $blue;

    &:hover {
      background-color: $blue;
      color: $blue;
      cursor: auto;
    }
  }
}

.loaderBox {
  position: absolute;
  left: calc(50% - 13px);
  top: calc(50% - 12px);
}
