$green: #3b7f03;
$yellow: #F0A202;

$green100: #f0fee3;
$green200: #d1fdac;
$green300: #b2fc75;
$green400: #93fa3d;
$green500: #74f906;
$green600: #5ac205;
$green700: #408a03;
$green800: #275302;
$green900: #0d1c01;

$yellow100: #fff6e3;
$yellow200: #fee3ab;
$yellow300: #fed072;
$yellow400: #fdbd3a;
$yellow500: #fdab02;
$yellow600: #c58502;
$yellow700: #8c5f01;
$yellow800: #543901;
$yellow900: #1c1300;

$darkGray: #333;